body {
	background: url(pictures/fundo-amarelo.jpeg);
}
html {
	scroll-behavior: smooth;
}
.float {
	position:fixed;
	width:30px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:black;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size: 26px;
}
#back{
	background-color:black;
}

#home:first-letter{
	font-family: Georgia;
	color:white;
	font-size: 55px;
	initial-letter: 1;
}

h2,h3,h4,p {
	font-family: Georgia;
	color:white;
}
label {
	font-family: Georgia;
	color:black;
	font-size: 22px;
}
p {
	font-size: 24px;
}


#card{
	background-color: black;
}


  #imglog{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;  
  }
  /* table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    height: 50px;
	padding: 15px;
	text-align: center;
	color: #FFEB3B;
  } */
  .menu-trasitio{
	background: repeating-radial-gradient(
		circle,
		yellow 1px,
		black 5px,
		yellow 10px,
		black 15px,
		yellow 21px,
		black 25px,
		yellow 31px,
		black 35px,
		yellow 41px,
		black 45px
);
	

}

  @media print {  
	.header { 
	  position: static;
	 }
	 
	nav { 
	  display: none; 
	}
  }